.calendar__box {
  background: #eaeaea;
  color: #333;
  flex-grow: 1;
  padding: 3px;
  border: 1px solid #333;
  height: calc(100% * (1/6));
  width: calc(100% * (1/7) - 10px - 1px);
  cursor: pointer;
  transition: 0.18s all;
}
.calendar__box:hover {
  background-color: #333;
  color: #eaeaea;
}
.calendar__box-day {
  text-align: left;
  font-size: 0.7rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
